<!--  agregar boton -->
<div class='tab active tab-item' item='#id#' style='border-color:#color#'>
	<span>Equipo</span>
	<span class='nombre-equipo tab-item' item='#id#'>#id#</span>
	<div class='box-tab-color tab-item' item='#id#' ></div>
	<a class='btn-color tab-item' item='#id#' style='background-color:#color#'></a>
	<input type='hidden' item='#id#' class='tab-item inputColor' value='#color#'> 
	<input type='hidden' item='#id#' class='tab-item input-equipo' value='#id#'> 
	<a class='editar btn-editar-equipo tab-item' item='#id#'><i class='icn icn-pencil'></i></a>
	<a class='eliminar btn-eliminar-equipo tab-item' item='#id#'><i class='icn icn-close-circle'></i></a>
</div>